<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jiayun.commons4e"
   name="Commons4E"
   version="1.0.5"
   provider-name="JiaYun"
   class="org.jiayun.commons4e.Commons4ePlugin">

   <runtime>
      <library name="commons4e.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IType"
            id="org.jiayun.commons4e.lang.LangActions">
         <menu
               label="Commons4E Lang"
               path="additions"
               id="langMenu">
            <separator name="langGroup"/>
         </menu>
         <action
               label="Generate CompareTo Method..."
               class="org.jiayun.commons4e.internal.lang.actions.GenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateCompareToAction"/>
         <action
               label="Generate ToString Method..."
               class="org.jiayun.commons4e.internal.lang.actions.GenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateToStringAction"/>
         <action
               label="Generate HashCode Method..."
               class="org.jiayun.commons4e.internal.lang.actions.GenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateHashCodeAction"/>
         <action
               label="Generate Equals Method..."
               class="org.jiayun.commons4e.internal.lang.actions.GenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateEqualsAction"/>
      </objectContribution>
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.jiayun.commons4e.lang.LangActions">
         <menu
               label="Commons4E Lang"
               path="additions"
               id="langMenu">
            <separator name="langGroup"/>
         </menu>
         <action
               label="Generate CompareTo Method..."
               class="org.jiayun.commons4e.internal.lang.actions.ViewerContributionGenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateCompareToAction"/>
         <action
               label="Generate ToString Method..."
               class="org.jiayun.commons4e.internal.lang.actions.ViewerContributionGenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateToStringAction"/>
         <action
               label="Generate HashCode Method..."
               class="org.jiayun.commons4e.internal.lang.actions.ViewerContributionGenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateHashCodeAction"/>
         <action
               label="Generate Equals Method..."
               class="org.jiayun.commons4e.internal.lang.actions.ViewerContributionGenerateAction"
               menubarPath="langMenu/langGroup"
               id="org.jiayun.commons4e.lang.actions.GenerateEqualsAction"/>
      </viewerContribution>
   </extension>

</plugin>
